<!-- Our main page where users are able to submit video links, watch youtube videos, and 
leave comments on videos! -->


<div ng-controller="mainController">
      <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
          <a class="navbar-brand" href="#/home" ng-click="getHomePage()">Timestamp</a>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/home" ng-click="getHomePage()">New Video </a></li>
        <li><a ng-click="logout()">Logout</a></li>
        <li><p class="navbar-text">Signed in as {{currentUser}}</p></li>
      </ul>
    </div>
    </div>
</nav>
  <div class = "container">

    <div class="wrapper" ng-hide="linkSubmitted">
      <form class="form-signin">
        <center>
        <h2>Enter a Youtube Link</h2>
        <br>
        <input type="text" class="form-control" ng-model = "vidLink" placeholder="https://www.youtube.com/watch?v=OHXjxWaQs9o" required="" autofocus="" />
        <button class="btn btn-lg btn-primary btn-block" ng-click = "getVideo(vidLink)" type="submit">Submit</button>
      </center>
      </form>
    </div>

  <div class="row" ng-show = "linkSubmitted">
         <div class="col-md-8">
      <div id = "player"></div>
      <br/>
      <div class="comment-wrapper">
        <div id = "newComment" class="comment">
          <h3> Post a comment! </h3>
          <form ng-submit = "newComment()">
            <input type="text" ng-model="newCommentText"/>
          </form>
          <h4> Hit enter to submit:           {{currentTime}} </h4>
        </div>
      </div>
    </div>
     <div class="col-md-4">
        <div ng-show= "linkSubmitted" class = "comment-wrapper">
        <div class = "comment" ng-repeat = "comment in relComments track by $index">
          <h4>{{comment.comment}}</h4>
          <p>{{comment.user}}</p>
        </div>
      </div>
    </div>
    </div>
  </div>

  </div>
</div>
