<div ng-controller="mainController">
      <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
          <a class="navbar-brand" href="#/home" ng-click="getHomePage()">Timestamp</a>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/home" ng-click="getHomePage()">New Video </a></li>
        <li><a ng-click="logout()">Logout</a></li>
        <li><p class="navbar-text">Signed in as {{currentUser}}</p></li>
      </ul>
    </div>
    </div>
</nav>
  <div class = "container">

    <div class="wrapper" ng-hide="linkSubmitted">
      <form class="form-signin"> 
        <center>       
        <h2>Enter a Youtube Link</h2>
        <br>
        <input type="text" class="form-control" ng-model = "vidLink" placeholder="https://www.youtube.com/watch?v=OHXjxWaQs9o" required="" autofocus="" />
        <button class="btn btn-lg btn-primary btn-block" ng-click = "getVideo(vidLink)" type="submit">Submit</button>   
      </center>
      </form>
    </div>


<!--   <div id = "linkForm">
      <form>
          Video Link <input type="text" ng-model = "vidLink"> </input>
          <button ng-click = "getVideo(vidLink)" type="submit">Submit</button>
      </form>
  </div> -->

  <!-- <div id = "numForm">
      <form>
          Num Start <input type="text" ng-model = "numStart"> </input>
          <button ng-click = "setTime(numStart)" type="submit">Submit</button>
      </form>
  </div> -->
  <div class="row" ng-show = "linkSubmitted">
         <div class="col-md-8">
          <h1> Timestamp</h1>
      <div id = "player"></div>
    </div>
     <div class="col-md-4">
       <div ng-show= "linkSubmitted" class = "comment-wrapper">
      <h3> Post a comment! </h3>
      <div id = "newComment" class="comment">
        <form ng-submit = "newComment()">
          <input type="text" ng-model="newCommentText"/>
        </form>
      </div>
        <div class = "comment" ng-repeat = "comment in comments track by $index">
          <h4>{{comment.comment}}</h4>
          <p>{{comment.user}}</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- <div class = "left-column">
        <div id = "player"></div>
    </div> -->
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<!--   <div class = "right-column">
    <div ng-show= "linkSubmitted">
      <h3> Post a comment! </h3>
      <div id = "newComment">
        <form ng-submit = "newComment()">
          <input type="text" ng-model="newCommentText"/>
        </form>
        {{comments}}
      </div>
    </div>
  </div> -->
  </div>
</div>